html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

ul{
    display: flex;
    background-color: rgb(194, 234, 234);
    margin: 0;
}

ul li{
    list-style: none;
    padding: 20px 40px;
}