* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


}

.navContainer {
    /* width: 100vw; */
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to top, #0d46a8 0%, #82a6d2 100%);
}

nav {
    width: 100%;
}


#navList {
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navLogo {
    font-size: 2.8rem;
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}

#navItems {
    display: flex;
    gap: 40px;
}

.footerBox {
    background-image: linear-gradient(to top, #4a46b7 0%, #6c99dc 100%);
    width: 100%;
    text-align: center;
    min-height: 35px;
}

.footerBox p {
    color: azure;
    font-size: 1.5rem;
}

.contentBox {
    width: 70%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: #b7c0c5;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 2rem;
    box-shadow: 3px 3px 20px black;
}

.rightBox {
    height: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;

}

.rightBox img {
    height: 100%;
    /* width: 300px; */
    border-radius: 20px;
}

.rightBox:hover {
    transform: scale(1.1);
    transition: all 1s linear 0s;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftbox h2 {
    font-size: 2rem;
}

.rightBox .overlap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(25, 24, 24, 0.4);
    border-radius: 23px;

    /* To align text in center */
    display: flex;
    align-items: center;
    justify-content: center;

    /* In normal case no gray filter on image 1*/
    opacity: 0;

    transition: all 0.3s linear 0s;
}

.rightBox:hover .overlap {
    opacity: 1;
}

.rightBox .overlap {
    color: white;
    font-size: 1.2rem;
}


/* i) put overflow-x:hidden in conatiner
ii)give a height value in rightBox and assign height:100% in the rightBox img tag. This will remove the area below img */