.card {
    width: 80%;
}

.container{
    margin: 2rem;
}

.headline{
    display: flex;
    justify-content: center;
}

.headline h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}

.searchBar{
    display: flex;
    justify-content: center;
}


